.backgroundImage {
    background-image: url("../images/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}