.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.883);
    line-height: 1.3;
    font-size: 20px;
    border-radius: 15px;
}