.form__input {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 230px;
    text-align: center;
}


.form__field {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 233px;
    text-align: center;
}


.form__input:focus {
    border: 2px solid hwb(218 27% 44%);
    outline: none;
}


.form__button {
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    background: hwb(218 27% 44%);
    border: none;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;

}


.form__button:hover {
    background: hwb(218 27% 34%);
}


.form__score {
    text-align: center;
}


.form__labelText {
    width: 150px;
    display: inline-block;
}